<header>
  <%- include('../common/header') %>
</header>

<!-- <div class="filter">
  Filter:
  <span> Complete</span><span> Sketches</span>
</div> 

<div class="wrapper"> -->
<div class="filter-container">
  <button onclick="filterFonts('all')">All</button>
  <button onclick="filterFonts('Serif')">Serif</button>
  <button onclick="filterFonts('Sans-Serif')">Sans Serif</button>
  <button onclick="filterFonts('Slab-Serif')">Slab Serif</button>
  <button onclick="filterFonts('Display')">Display</button>
  <button onclick="filterFonts('Monospace')">Monospace</button>
  <button onclick="filterFonts('Experimental')">Experimental</button>
  <button onclick="filterFonts('Script')">Script</button>
</div>
<% let i=0 %>
  <% for (const font of fonts) { 
    // console.log(selector)
 
    %>
  
    <% let bigfont=font.font.split('-')[0]; const regex=/([a-z])([A-Z])/g; bigfont=bigfont.replace(regex, '$1$2' ); %>
 

       <% const thisfont=data.find(thisfont => thisfont.id === font.font); %> 
        <% if (!thisfont) continue %>
        <% let foont = thisfont.id.split('-')[0] %>
        <!-- change to only save the array not the key -->
       

  
       
        <div class="font-wrapper" data-category="<%= thisfont.category %>">
          <div class="fontinfo">
            <a href="../specimen/<%- font.font %>" class="link">
              <span class="fontname"><span id="font"><%-bigfont %> </br>by <%= thisfont.author %></span>
            </a>
          </div>

          <div class="bigfontlibrary"style="font-family:<%- font.font %>" id="font<%- + i %>" contenteditable="true">
            <!-- Use this page on your laptop -->
            <div class="bigfont"id="fontsizer"> <%- bigfont %> </div>
            <!-- <div class="smallfont" style="display: none;"> Use a Laptop!</div> -->
          </div>
          <div></div>
            <div class="fontname" id="styles" style="padding-top: 15px; width: 5vw">
             
      <% let familyArray = selector.filter(family => family.hasOwnProperty(foont)); 
      console.log(familyArray)
        let nOfStyles = 0;
        let style = 'Styles '
      if (familyArray[0][foont].length > 1)
       { console.log("what")
        nOfStyles = familyArray[0][foont].length } 
        else  {
         nOfStyles = 1;
        style = 'Style'
       } %>
              <%- nOfStyles %> <%- style %>
     
 
     <select id="font-style-selector">

      <% familyArray[0][foont].forEach(element => {
         let styleName=element.split("-")[1] || "Regular" ;
         console.log("+" +styleName) %>
          <option value="<%= styleName %>">
            <%= styleName %>
          </option>
          <% }); %>
    </select>
              </div>
          </div>

        </div>
        <hr>
        <% i++ %>
          <% } %>
            </div>

            <script>
              function filterFonts(category) {
                var fonts = document.querySelectorAll(".font-wrapper");
                if (category === "all") {
                  fonts.forEach(font =>{ 
                    font.style.display = "flex";
                    var hr = font.nextElementSibling;
                    hr.classList.remove("show");

                });
                  
                } else {
                  fonts.forEach(font => {
                    var categories = font.dataset.category.split(",");
                    console.log("test"+categories);
                    console.log(category)
                    var hr = font.nextElementSibling;
                    if (categories.includes(category)) {
                      font.style.display = "flex";
                      hr.classList.remove("show");
                    } else {
                      font.style.display = "none";
                      hr.classList.add("show");
                    }
                  });
                }
              }

            </script>


            <script src="../scripts/script2.js" type="text/javascript"></script>